<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/meanmenu.css')}}">
        <!-- Icofont -->
        <link rel="stylesheet" href="C:/Users/Mahajan/Desktop/SIH2020 july/icofont/icofont.min.css">
        <!-- Nice Select JS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/nice-select.css')}}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/owl.theme.default.min.css')}}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/animate.css')}}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/flaticon.css')}}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/responsive.css')}}">
        </head>
    <body>
        <h1> hello</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p class="alert-{{ category }}">{{ message }}</p>
              <p> {{session.username}} </p>
            {% endfor %}
          {% endif %}
        {% endwith %} 
    </body></html>