<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Cheat Sheet</title>
    <!-- Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style = "border:1px solid black; width: 750px; float:left ">
	<div style = "border:1px solid black"> This is div 2</div>
	<h1> This is div 1</h1>
</div>
<div style = "border:1px solid black; width: 762px; float: right"> This is div 3</div>

<div class='container'>>
<button class="btn btn-default">Button</button>
      <a href="#" class="btn btn-default" role="button">Link</a>
      <input type="submit" class="btn btn-default" value="Submit">
      <br>
      <!-- CONTEXTUAL BUTTONS -->
      <button class="btn btn-default">Default</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-warning">Warnig</button>
      <button class="btn btn-danger">Delete</button>
      <button class="btn btn-link">Link</button>
      <br>
      <!-- BUTTON SIZES -->
      <button class="btn btn-default btn-lg">Default</button>
      <button class="btn btn-default">Default</button>
      <button class="btn btn-primary btn-sm">Default</button>
      <button class="btn btn-default btn-xs" disabled="disabled">Default</button>
  </div>
</body>
</html>